<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>655E6E121CBCD2FC0018D287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655E6E2B1CBCD2FC0018D287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655E6E361CBCD2FD0018D287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
