<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerImg</key>
		<string></string>
		<key>headerTitle</key>
		<string>热门分类</string>
		<key>titleList</key>
		<array>
			<string>成人用品</string>
			<string>快递</string>
			<string>家电维修</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>代驾</string>
			<string>ATM</string>
			<string>乐天1</string>
			<string>乐天2</string>
			<string>乐天3</string>
			<string>乐天4</string>
			<string>乐天5</string>
		</array>
	</dict>
	<dict>
		<key>headerImg</key>
		<string></string>
		<key>headerTitle</key>
		<string>电话号码</string>
		<key>titleList</key>
		<array>
			<string>成人用品</string>
			<string>快递</string>
			<string>家电维修</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>代驾</string>
			<string>ATM</string>
			<string>乐天1</string>
			<string>乐天2</string>
			<string>乐天3</string>
			<string>乐天4</string>
			<string>乐天5</string>
		</array>
	</dict>
	<dict>
		<key>headerImg</key>
		<string></string>
		<key>headerTitle</key>
		<string>便民服务</string>
		<key>titleList</key>
		<array>
			<string>成人用品</string>
			<string>快递</string>
			<string>家电维修</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>代驾</string>
			<string>ATM</string>
			<string>乐天1</string>
			<string>乐天2</string>
			<string>乐天3</string>
			<string>乐天4</string>
			<string>乐天5</string>
		</array>
	</dict>
	<dict>
		<key>headerImg</key>
		<string></string>
		<key>headerTitle</key>
		<string>便民服务1</string>
		<key>titleList</key>
		<array>
			<string>成人用品</string>
			<string>快递</string>
			<string>家电维修</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>代驾</string>
			<string>ATM</string>
			<string>乐天1</string>
			<string>乐天2</string>
			<string>乐天3</string>
			<string>乐天4</string>
			<string>乐天5</string>
		</array>
	</dict>
	<dict>
		<key>headerImg</key>
		<string></string>
		<key>headerTitle</key>
		<string>便民服务2</string>
		<key>titleList</key>
		<array>
			<string>成人用品</string>
			<string>快递</string>
			<string>家电维修</string>
			<string>搬家</string>
			<string>管道疏通</string>
			<string>代驾</string>
			<string>ATM</string>
			<string>乐天1</string>
			<string>乐天2</string>
			<string>乐天3</string>
			<string>乐天4</string>
			<string>乐天5</string>
		</array>
	</dict>
</array>
</plist>
