<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XuShiWu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CECE06C1C2A85860080586F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CECE0851C2A85860080586F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CECE0901C2A85860080586F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
