<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TYCircleMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05D9F9BA1CA1655B00C73E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D9F9D31CA1655B00C73E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D9F9DE1CA1655C00C73E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
