<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>小鹿读书</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TXT Document</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>appLogo0</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo0</string>
				</array>
			</dict>
			<key>appLogo1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo1</string>
				</array>
			</dict>
			<key>appLogo10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo10</string>
				</array>
			</dict>
			<key>appLogo11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo11</string>
				</array>
			</dict>
			<key>appLogo12</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo12</string>
				</array>
			</dict>
			<key>appLogo13</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo13</string>
				</array>
			</dict>
			<key>appLogo14</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo14</string>
				</array>
			</dict>
			<key>appLogo2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo2</string>
				</array>
			</dict>
			<key>appLogo3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo3</string>
				</array>
			</dict>
			<key>appLogo4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo4</string>
				</array>
			</dict>
			<key>appLogo5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo5</string>
				</array>
			</dict>
			<key>appLogo6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo6</string>
				</array>
			</dict>
			<key>appLogo7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo7</string>
				</array>
			</dict>
			<key>appLogo8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo8</string>
				</array>
			</dict>
			<key>appLogo9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appLogo9</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>请允许授权使用您的Face ID，已为您解锁APP</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许授权访问您的相册为你挑选你想显示的图片</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
