<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSAndOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C780A471CC631AA000EDDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C780A601CC631AA000EDDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C780A6B1CC631AA000EDDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
