<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>声律启蒙</string>
		<key>time</key>
		<real>1.27</real>
	</dict>
	<dict>
		<key>text</key>
		<string>上卷</string>
		<key>time</key>
		<real>3.67</real>
	</dict>
	<dict>
		<key>text</key>
		<string>一 东</string>
		<key>time</key>
		<real>5.67</real>
	</dict>
	<dict>
		<key>text</key>
		<string>云对雨，雪对风，晚照对晴空。</string>
		<key>time</key>
		<real>8.27</real>
	</dict>
	<dict>
		<key>text</key>
		<string>来鸿对去燕，宿鸟对鸣虫。</string>
		<key>time</key>
		<real>14.67</real>
	</dict>
	<dict>
		<key>text</key>
		<string>三尺剑，六钧弓，岭北对江东。</string>
		<key>time</key>
		<real>20.77</real>
	</dict>
	<dict>
		<key>text</key>
		<string>人间清暑殿，天上广寒宫。</string>
		<key>time</key>
		<real>27.37</real>
	</dict>
	<dict>
		<key>text</key>
		<string>两岸晓烟杨柳绿，一园春雨杏花红。</string>
		<key>time</key>
		<real>33.37</real>
	</dict>
	<dict>
		<key>text</key>
		<string>两鬓风霜，途次早行之客；</string>
		<key>time</key>
		<real>41.07</real>
	</dict>
	<dict>
		<key>text</key>
		<string>一蓑烟雨，溪边晚钓之翁。</string>
		<key>time</key>
		<real>46.47</real>
	</dict>
	<dict>
		<key>text</key>
		<string>沿对革，异对同，白叟对黄童。</string>
		<key>time</key>
		<real>54.27</real>
	</dict>
	<dict>
		<key>text</key>
		<string>江风对海雾，牧子对渔翁。</string>
		<key>time</key>
		<real>60.17</real>
	</dict>
	<dict>
		<key>text</key>
		<string>颜巷陋，阮途穷，冀北对辽东。</string>
		<key>time</key>
		<real>66.06999999999999</real>
	</dict>
	<dict>
		<key>text</key>
		<string>池中濯足水，门外打头风。</string>
		<key>time</key>
		<real>72.47</real>
	</dict>
	<dict>
		<key>text</key>
		<string>梁帝讲经同泰寺，汉皇置酒未央宫。</string>
		<key>time</key>
		<real>77.87</real>
	</dict>
	<dict>
		<key>text</key>
		<string>尘虑萦心，懒抚七弦绿绮；</string>
		<key>time</key>
		<real>84.87</real>
	</dict>
	<dict>
		<key>text</key>
		<string>霜华满鬓，羞看百炼青铜。</string>
		<key>time</key>
		<real>89.27</real>
	</dict>
	<dict>
		<key>text</key>
		<string>贫对富，塞对通，野叟对溪童。</string>
		<key>time</key>
		<real>96.37</real>
	</dict>
	<dict>
		<key>text</key>
		<string>鬓皤对眉绿，齿皓对唇红。</string>
		<key>time</key>
		<real>102.87</real>
	</dict>
	<dict>
		<key>text</key>
		<string>天浩浩，日融融，佩剑对弯弓。</string>
		<key>time</key>
		<real>108.37</real>
	</dict>
	<dict>
		<key>text</key>
		<string>半溪流水绿，千树落花红。</string>
		<key>time</key>
		<real>114.47</real>
	</dict>
	<dict>
		<key>text</key>
		<string>野渡燕穿杨柳雨，芳池鱼戏芰荷风。</string>
		<key>time</key>
		<real>120.47</real>
	</dict>
	<dict>
		<key>text</key>
		<string>女子眉纤，额下现一弯新月；</string>
		<key>time</key>
		<real>127.77</real>
	</dict>
	<dict>
		<key>text</key>
		<string>男儿气壮，胸中吐万丈长虹。</string>
		<key>time</key>
		<real>133.17</real>
	</dict>
</array>
</plist>
