<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLCoreAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49EFDB8A1D177ECC004DD1DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EFDBA31D177ECC004DD1DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EFDBAE1D177ECC004DD1DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
