<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPWebViewLongTap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38CFED191CCF3E0300B0448F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38CFED321CCF3E0400B0448F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38CFED3D1CCF3E0400B0448F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
