<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AE85A871C30E81D00A410A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE85AA01C30E81E00A410A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE85AAB1C30E81E00A410A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
