<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>huachi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>489395E11CAE622600EC8F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489395FA1CAE622600EC8F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489396051CAE622600EC8F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
